.site-footer {
    padding: 16px 0px;
    text-align: center;
}

.footer-logo {
    width: 64px;   
    margin-top: 8px;
    margin-bottom: 16px;
}
  
.social-link {
    font-size: 0;
    display: inline-block;
    margin: 0px 4px;
}