<footer style="background-color: #{{page.color}};">
		<div class="social-networks">
			<i class="fa-brands fa-discord fa-2x picto"><a href="https://discord.gg/JErUFhea" target="_blank"></a></i>
			<i class="fa-brands fa-github fa-2x picto"><a href="https://github.com/keycube" target="_blank"></a></i>
		</div>
		<a href="#"><img class="logo_footer" src="../assets/img/logo/logo-FFFFFF.svg"/></a>
		<a href="#">keycube</a>
		<p></p>
</footer>

<script>
	var annee = new Date().getFullYear();
	var footer = document.querySelector("footer p");
	footer.innerHTML = annee;

</script>