<footer style="background-color: #{{page.color}};">
		<div class="social-networks">
			<a href="https://discord.gg/JErUFhea" target="_blank"><img class="picto" src="/assets/img/pictos/discord.svg" /></a>
			<a href="https://github.com/keycube" target="_blank"><img class="picto" src="/assets/img/pictos/github.svg" /></a>
			<a href="{{ "/feed.xml" | relative_url }}"" target="_blank"><img class="picto" src="/assets/img/pictos/rss-solid.svg" /></a>
		</div>
		<a href="#"><img class="logo_footer" src="/assets/img/logo/logo-FFFFFF.svg"/></a>
		<a href="#">keycube</a>
		<p></p>
</footer>

<script>
	var annee = new Date().getFullYear();
	var footer = document.querySelector("footer p");
	footer.innerHTML = annee;

</script>