<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {%- seo title=false -%}
  <title>{{ site.data.strings.title }}</title>
  
  <link rel="stylesheet" href="{{ "/assets/main.css" | relative_url }}">
  {%- feed_meta -%}

  {% for item in site.data.navigation %}
    {% if page.url contains item.name or page.code == item.name %}
    {% assign cname = item.name %}
    {% endif %}
  {% endfor %}

  <style>
    a {
      color: #{{site.data.colors[cname]}};
    }
  </style>  
</head>
