@import "colors";

.featured-article 
{
    margin : 0 0 5% 0;
    display : flex;
    align-items: center;
    overflow : hidden;
    width: 100%; 
    height: 25vw; 
    border-radius: 24px;
    transition: box-shadow 0.3s;
    box-shadow :13px 13px 30px #00000025, -	5px -5px 10px #ffffff;


        .featured-article-infos
        {
            display : flex;
            flex-direction: column;
            align-items: center;
            height: 100%;
            width: 69%;
            text-align: center;
        }

        .date 
        {
            font-family: 'poppins', sans-serif;
            font-size: 1em; 
            font-weight: regular;
            text-transform: uppercase;
            margin : 5% 0 0 0;
        }

        .title 
        {
            font-family: 'poppins', sans-serif;
            font-size: 1.2em; 
            font-weight: 600 !important;
            text-transform: uppercase;
            margin : 2% 0 !important;
        }

    .img-container 
    {
        width: 31%;
        height: 100%;

        img 
        {
            width: 100%; /* Utilisez max-width au lieu de width */
            height: 100%;
            object-fit: cover;
            border-radius: 24px 0 24px  0;
        }
    }

    .filtres-container
    {
        display: flex;
        justify-content: center;
        column-gap: 1%;
        width:  100%;
        margin : 0 0 5% 0;
    }

    .categorie
    {
        width: fit-content;
        font-size: 1em;
        font-weight: 600;
        border: 1px solid $green;
        border-radius: 15px;
        padding: 0% 1% 0 1%;
    }

    .resume {
        width: 70%;
        overflow: hidden;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 3;
        white-space: pre-wrap; 
    }

    .readMore-button {
        height : 10%;
        width: 20%;
        border-radius: 15px;
        background-color : $green; 
        font-family: 'poppins', sans-serif;
        text-transform: uppercase;
        text-decoration: none;
        text-align: center;
        color : $white;
        // font-size: 1.2em; 
        font-weight: 600;
        margin: 4% 0 0 0;
        display: flex;
        align-items: center;
        justify-content: center;
        transition : all 0.3s ease-in-out;

        &:hover 
        {
            background: $white;   
            border : 1px solid $green;
            color : $green !important;
        }
    }

    @media screen and (max-width: 768px) {
        flex-direction: column;
        height: auto;

        .img-container {
            width: 100%;
        }

        .featured-article-infos {
            width: 100%;
        }

        .resume {
            width: 90%;
            // padding: 2% 5%;
            font-size: 0.8em;
        }

        .readMore-button {
            width: 50%;
            margin: 10% 0;
        }
    }

    @media screen and (max-width: 1024px) {
        flex-direction: column;
        height: auto;

        .img-container {
            width: 100%;
        }

        .featured-article-infos {
            width: 100%;
        }

        .resume {
            width: 90%;
            // padding: 2% 5%;
            font-size: 0.8em;
        }

        .readMore-button {
            width: 50%;
            margin: 10% 0;
        }
    }
}




.category-filter 
{
    width: 100%;
    align-self: flex-start;
    display: flex; 
    column-gap: 1%;;
    margin: 0 0 2% 0; 

    p{
        margin-left : 2%;
    }

    .filter-button
    {
        padding: 0 1% 0 1%;
        border-radius: 15px;
        background: none; 
        font-family: 'poppins', sans-serif;
        font-size: 1em; 
        font-weight: 600;

        &:hover 
        {
            background: $green; 
            color : $white !important;
        }

        &.active 
        {
            background: $green; 
            color: $white !important; 
        }
    }

    @media screen and (max-width: 768px) {
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;        

        .filter-button {
            width:45%;
            margin: 2%;
        }
        .button-all{
            width: 100%;
        }
        .text-filter{
            width: 100%;
            text-align: center;
        }
    }

    @media screen and (max-width: 1024px) {
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;        

        .filter-button {
            width:45%;
            margin: 2%;
        }
        .button-all{
            width: 100%;
        }
        .text-filter{
            width: 100%;
            text-align: center;
        }
    }
}





.articles 
{
    display : flex; 
    flex-wrap: wrap;
    justify-content: flex-start;
    column-gap: 3%;
    margin-bottom : -3%;

    .article 
    {
        display : flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        overflow: hidden;
        margin-bottom : 3%;
        width: 31.334%; 
        aspect-ratio: 1 / 1;
        border-radius: 24px;
        transition: box-shadow 0.3s;
        box-shadow :13px 13px 30px #00000025, -	5px -5px 10px #ffffff;

        .date 
        {
            font-family: 'poppins', sans-serif;
            font-size: 1em; 
            font-weight: regular;
            text-transform: uppercase;
            margin : 2% 0 0 0;
        }

        .title 
        {
            font-family: 'poppins', sans-serif;
            font-size: 1.2em; 
            font-weight: 600 !important;
            text-transform: uppercase;
            margin : 2% 0 !important;
        }
        
        .img-container 
        {
            width: 100%; /* Utilisez max-width au lieu de width */
            height: 25%;

            img 
            {
                width: 100%; /* Utilisez max-width au lieu de width */
                height: 100%;
                object-fit: cover;
                border-radius: 24px 24px 0 0;
            }
        }

        .filtres-container
        {
            display: flex;
            justify-content: center;
            column-gap: 1%;
            width:  100%;
            margin : 0 0 5% 0;
        }
    
        .categorie
        {
            width: fit-content;
            font-size: 1em;
            font-weight: 600;
            border: 1px solid $green;
            border-radius: 15px;
            padding: 0% 1% 0 1%;
        }

        .resume {
            width: 80%;
            margin: 0 auto; 
            overflow: hidden;
            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 3;
            white-space: pre-wrap; 
        }

        .readMore-button {
            height : 10%;
            width: 35%;
            border-radius: 15px;
            background-color : $green; 
            font-family: 'poppins', sans-serif;
            text-transform: uppercase;
            text-decoration: none;
            text-align: center;
            color : $white;
            // font-size: 1.2em; 
            font-weight: 600;
            margin: 5% auto auto auto;
            display: flex;
            align-items: center;
            justify-content: center;
            transition : all 0.3s ease-in-out;

            &:hover 
            {
                background: $white;   
                border : 1px solid $green;
                color : $green !important;
            }
        }
    }

   
    @media screen and (max-width: 768px) {
        justify-content: center;

        .article {
            width: 100%;
            margin: 10% 0;
            // margin-bottom: 5%;
        }

        .resume {
            width: 90%;
            font-size: 0.8em;
        }

        .readMore-button {
            width: 100%;
            margin: 2% 0;
            font-size: 0.8em;   
        }
    }
}




