@import "colors";

.featured-article 
{
    margin : 0 0 5% 0;
    display : flex;
    align-items: center;
    overflow : hidden;
    width: 100%; 
    height: 25vw; 
    border-radius: 1em;
    transition: box-shadow 0.3s;
    box-shadow :13px 13px 30px #00000025, -	5px -5px 10px #ffffff;


        .featured-article-infos
        {
            display : flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-evenly;
            height: 100%;
            width: 69%;
            text-align: center;
        }

        .date 
        {
            font-family: 'poppins', sans-serif;
            font-size: 1em; 
            font-weight: regular;
            text-transform: uppercase;
        }

        .title 
        {
            font-family: 'poppins', sans-serif;
            font-size: 1.2em; 
            font-weight: 600 !important;
            text-transform: uppercase;
        }

    .img-container 
    {
        width: 31%;
        height: 100%;

        img 
        {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    .filtres-container
    {
        display: flex;
        justify-content: center;
        column-gap: 1%;
        width:  100%;
    }

    .categorie
    {
        width: fit-content;
        font-size: 1em;
        border: 1px solid $green;
        border-radius: 15px;
        padding: 0% 2%;
    }

    .resume {
        width: 70%;
        overflow: hidden;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 3;
        white-space: pre-wrap; 
        text-overflow: ellipsis;

        /*Firefox equivalent*/
        display: -moz-box;
        -moz-box-orient: vertical;
        -moz-line-clamp: 3;
        white-space: pre-wrap;
        text-overflow: ellipsis;
    }

    .readMore-button {
        width: 20%;
        border-radius: 1em;
        background-color : $green; 
        font-family: 'poppins', sans-serif;
        text-transform: uppercase;
        text-decoration: none;
        text-align: center;
        color : $white;
        font-weight: 600;
        padding: 1.5% 0;
        display: flex;
        align-items: center;
        justify-content: center;
        transition : all 0.3s ease-in-out;

        &:hover 
        {
            background: $white;   
            border : 1px solid $green;
            color : $green !important;
        }
    }

    @media screen and (max-width: 768px) {
        /* Styles for screens of 768 pixels width or less */    
        flex-direction: column;
        height: auto;

        .date {
            font-size : 0.8em !important;
        }

        .title {
            font-size : 1em !important;
        }

        .categorie {
            font-size : 0.8em !important;
        }

        .resume {
            font-size: 0.8em !important;    
        }

        .readMore-button {
            font-size: 0.8em;
        }
    }

    @media screen and (max-width: 1024px) {
        /* Styles for screens of 1024px pixels width or less */    
        flex-direction: column;
        height: 80vw;

        .img-container {
            width: 100%;
            height : 40%;
        }

        .featured-article-infos {
            height : 60%;
            width: 100%;
        }

        .readMore-button {
            width: 40%;  
        }
    }


    @media screen and (max-width: 1440px) {
        /* Styles for screens of 1440px pixels width or less */    
        .resume {
            -webkit-line-clamp: 2 !important;
        }
    }
}




.category-filter 
{
    width: 100%;
    align-self: flex-start;
    display: flex; 
    column-gap: 1%;;
    margin: 0 0 2% 0; 

    .filter-button
    {
        padding: 0 1% 0 1%;
        border-radius: 15px;
        background: none; 
        font-family: 'poppins', sans-serif;
        font-size: 1em; 
        font-weight: 600;

        &:hover 
        {
            background: $green; 
            color : $white !important;
        }

        &.active 
        {
            background: $green; 
            color: $white !important; 
        }
    }

    @media screen and (max-width: 768px) {
        /* Styles for screens of 768 pixels width or less */    
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;    
        
        .categorie {
            font-size : 0.1em;
        }

        .filter-button {
            width:45%;
            margin: 2%;
        }
        .button-all{
            width: 100%;
        }
        .text-filter{
            width: 100%;
            text-align: center;
        }
    }

    @media screen and (max-width: 1024px) {
        /* Styles for screens of 1024 pixels width or less */    
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;        

        .filter-button {
            width:45%;
            margin: 2%;
        }
        .button-all{
            width: 100%;
        }
        .text-filter{
            width: 100%;
            text-align: center;
        }
    }
}







.articles 
{
    display : flex; 
    flex-wrap: wrap;
    justify-content: flex-start;
    column-gap: 3%;
    margin-bottom : -3%;

    .article 
    {
        display : flex !important;
        flex-direction: column;
        align-items: center;
        // overflow: hidden;   
        margin-bottom : 3%;
        width: 31.334%; 
        aspect-ratio: 1 / 1;
        border-radius: 24px;
        transition: box-shadow 0.3s;
        box-shadow :13px 13px 30px #00000025, -	5px -5px 10px #ffffff;

        .img-container 
        {
            width: 100%; 
            height: 25%;

            img 
            {
                width: 100%; 
                height: 100%;
                border-radius: 1em 1em 0 0;
                object-fit: cover;

            }
        }

        .description
        {
            height: 75%;
            width: 100%;
            display : flex;
            flex-direction: column;
            justify-content: space-evenly;
            align-items: center;
            text-align: center;
        

        .date 
        {
            font-family: 'poppins', sans-serif;
            font-size: 1em; 
            font-weight: regular;
            text-transform: uppercase;
        }

        .title 
        {
            width : 80%;
            font-family: 'poppins', sans-serif;
            font-size: 1.2em; 
            font-weight: 600 !important;
            text-transform: uppercase;
        }

        .filtres-container
        {
            display: flex;
            justify-content: center;
            column-gap: 1%;
            width:  100%;
        }
    
        .categorie
        {
            font-size: 1em;
            border: 1px solid $green;
            border-radius: 15px;
            padding: 0% 2%;
        }

        .resume { 
            font-size: 1em;
            width: 80%;

            overflow: hidden;
            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 3;
            white-space: pre-wrap;
            text-overflow: ellipsis;
        
            /*Firefox equivalent*/
            display: -moz-box;
            -moz-box-orient: vertical;
            -moz-line-clamp: 3;
            white-space: pre-wrap;  
            text-overflow: ellipsis;
        }    

        .readMore-button {
            padding : 2% 0;
            width: 40%;
            border-radius: 1em;
            background-color : $green; 
            font-family: 'poppins', sans-serif;
            text-transform: uppercase;
            text-decoration: none;
            text-align: center;
            color : $white;
            font-weight: 600;
            display: flex;
            align-items: center;
            justify-content: center;
            transition : all 0.3s ease-in-out;

            div{
                color : $white;
            }

            &:hover 
            {
                background: $white;   
                border : 1px solid $green;
                color : $green !important;
            }
        }

    }
    }

   
    @media screen and (max-width: 768px) {
            /* Styles for screens of 768 pixels width or less */    
        justify-content: center;

        .article {
            width: 100% !important;
            margin: 10% 0;
        }
    }


    @media screen and (max-width: 1024px) {
        /* Styles for screens of 1024 pixels width or less */    
        column-gap: 4%;

        .article {
            width : 48%;
        }

        .date {
            font-size : 0.8em !important;
        }

        .title {
            font-size : 1em !important;
        }

        .categorie {
            font-size : 0.8em !important;
        }

        .resume {
            font-size : 0.8em !important;
            -webkit-line-clamp: 2 !important;
            -moz-line-clamp: 2 !important;
        }

        .readMore-button {
            width: 100%;
            font-size: 0.7em;
        }
    }

    @media screen and (max-width: 1440px) {
        /* Styles for screens of 1440 pixels width or less */    

        .date {
            font-size : 0.9em !important;
        }

        .title {
            font-size : 1.1em !important;
        }

        .categorie {
            font-size : 0.9em !important;
        }

        .resume {
            font-size : 0.9em !important;
            -webkit-line-clamp: 2 !important;

            /* Équivalent avec Firefox */
            -moz-line-clamp: 2 !important;
        }

        .readMore-button {
            width: 100%;
            font-size: 0.8em;
        }
    }
}




