@import "colors";


.hardware {
    height : 40vh;
    display : flex;
    justify-content: space-between;
    margin-bottom: 7%;
    

    .description 
    {
        width: 50%;
        display : flex;
        flex-direction: column;
        justify-content: space-between;

        h2{
            margin: 0 0 2% 0;
        }

        .link 
        {
            width: 30%;
            border-radius: 15px;
            background-color : $yellow; 
            font-family: 'poppins', sans-serif;
            text-transform: uppercase;
            text-decoration: none;
            text-align: center;
            font-size: 1.2em; 
            font-weight: 600;
            padding: 1.5% 0;
            display: flex;
            align-items: center;
            justify-content: center;
            border : 1.5px solid $yellow;
            transition : all 0.3s ease-in-out;

            p{
                font-size : 1em;
                color : $white;
                margin : 0 3%;
            }

            &:hover 
            {
                background: none;  
                color : $yellow !important;
            }
        }
    }
    
    .img-container
    {
        width: 40%;
        height: 100%;

        img 
        {
            border-radius: 15px;
            width: 100%;
            height: 100%;
            object-fit: cover;
            
        }
    }

    &:last-child {
        margin-bottom: 0; // Supprime la marge pour le dernier élément
        .separator
        {
            display : none;
        }
    }

    &:nth-child(odd) {

        h2 {
            text-align: end;
            align-self: flex-end;
        }

        .description {
            order: 2; // Inverser l'ordre du texte et de l'image
            text-align: end; // Aligner le texte à gauche
        }

        .link {
            align-self: flex-end;
        }

        .img-container {
            order: 1; // Garder l'ordre de l'image à droite
        }
    }

    &:nth-child(even) {
        .description {
            // Garder l'ordre du texte à gauche
        }

        .img-container {
            order: 2; // Inverser l'ordre de l'image à gauche
            //text-align: end; // Aligner l'image à gauche
        }
    }

    @media screen and (max-width: 768px) {
        /* Styles for screens of 768 pixels width or less */    
        flex-direction: column;
        height: auto;
        margin: 10% 0;
    
        .description,
        .img-container {
            width: 100%;
        }
    
        &:nth-child(odd),
        &:nth-child(even) {
            h2,
            .description {
                text-align: center;
                align-self: center;
            }
    
            .link {
                align-self: center;
                width: 70%;
                margin:5% 0;
            }
    
            .img-container {
                order: 2;
            }
        }
    }

    @media screen and (max-width: 1024px) {
        /* Styles for screens of 1064px pixels width or less */    
        flex-direction: column;
        height: auto;
        margin: 10% 0;

        .separator {
            width : 20%;
            margin : 5% auto;
            border-bottom : 5px solid $yellow;
        }
    
        .description,
        .img-container {
            width: 100%;
        }
    
        &:nth-child(odd),
        &:nth-child(even) {
            h2,
            .description {
                text-align: center;
                align-self: center;
            }
    
            .link {
                align-self: center;
                width: 70%;
                margin:5% 0;
            }
    
            .img-container {
                order: 2;
            }
        }
    }
    
}


p {
    font-size: 1.2em;
}


