@import "colors";

.hardware {
    height : 40vh;
    display : flex;
    justify-content: space-between;
    margin-bottom: 7%;
     
    .description {
        width: 50%;
        display : flex;
        flex-direction: column;
        justify-content: space-between;

        .title {
            width: 100%;   
            display : flex;
            align-items: center;
            margin: 0 0 2% 0;

            h2 {
                margin: 0;
            }

            i {
                margin-right : 1%;
                margin-top: 0.2%;
                font-size: 24px;
            }
        }

        .link {
            width: 30%;
            border-radius: 15px;
            background-color : $yellow; 
            font-family: 'poppins', sans-serif;
            text-transform: uppercase;
            text-decoration: none;
            text-align: center;
            font-size: 1.2em; 
            font-weight: 600;
            padding: 1.5% 0;
            display: flex;
            align-items: center;
            justify-content: center;
            border : 1.5px solid $yellow;
            transition : all 0.3s ease-in-out;

            p {
                font-size : 1em;
                color : $white;
                margin : 0 3%;
            }

            &:hover {
                background: none;  
                p {
                    color : $yellow;
                }
            }
        }
    }
    
    .img-container {
        width: 40%;
        height: 100%;

        img {
            border-radius: 15px;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    &:last-child {
        margin-bottom: 0; // Delete margin for last child
        .separator {
            display : none;
        }
    }

    &:nth-child(odd) {

        .title {
            align-items: center;
            margin: 0 0 2% 0;
            justify-content: end;

            h2 {
                order : 1;
                text-align: right;
            }

            i {
                order : 2;
                margin-left :1%;
            }
        }

        .description {
            order: 2; // reverse order of text and image
            text-align: end; 
        }

        .link {
            align-self: flex-end;
        }

        .img-container {
            order: 1;
        }
    }

    &:nth-child(even) {
        .description {      
        }

        .img-container {
            order: 2;          
        }
    }

    @media screen and (max-width: 768px) {
        // Styles for screens of 768 pixels width or less
        flex-direction: column;
        height: auto;
        margin: 10% 0;
    
        .description,
        .img-container {
            width: 100%;
        }
    
        &:nth-child(odd),
        &:nth-child(even) {
            h2,
            .description {
                text-align: center;
                align-self: center;
            }
    
            .link {
                align-self: center;
                width: 70%;
                margin:5% 0;
            }
    
            .img-container {
                order: 2;
            }
        }
    }

    @media screen and (max-width: 1024px) {
        // Styles for screens of 1064px pixels width or less
        flex-direction: column;
        height: auto;
        margin: 10% 0;

        .separator {
            width : 70%;
            margin : 5% auto;
            border-bottom : 1px solid $yellow;
        }
    
        .description,
        .img-container {
            width: 100%;
        }
    
        &:nth-child(odd),
        &:nth-child(even) {
            .title {
                align-items: center;
                margin: 0 0 2% 0;
                justify-content: center;
                h2{
                    order :2;
                }
                i{
                    order :1;
                }
            }

            .description {
                text-align: center;
                align-self: center;
            }
    
            .link {
                align-self: center;
                width: 70%;
                margin:5% 0;
            }
    
            .img-container {
                order: 2;
            }
        }
    } 
}

p {
    font-size: 1.2em;
}