.citation-hardware {
	width: 100%;
    text-align: center;
	padding: 2% 0%;
	font-size: 1.2em;
    border-radius: 15px;
	box-shadow: 3px 3px 6px #00000025, -	5px -5px 10px #ffffff; 
}

.hardware {
    display : flex;
    align-items: center;
    border-radius: 15px;
    margin-bottom: 2%;
    

    .description 
    {
        width: 50%;

        p 
        {
            margin-bottom: 2%;
        }

        .github-link 
        {
            width: 30%;
            border-radius: 15px;
            background-color : #F1D248; 
            font-family: 'poppins', sans-serif;
            text-transform: uppercase;
            text-decoration: none;
            text-align: center;
            color : #f6f6f6;
            font-size: 1.2em; 
            font-weight: 600;
            margin: 5% 0 0 0;
            padding: 1.5% 0;
            display: flex;
            align-items: center;
            justify-content: center;
            transition : all 0.3s ease-in-out;

            &:hover 
            {
                background: none;  
                box-shadow: inset 0 0 1px #F1D248;
                color : #F1D248 !important;
            }
        }
    }
    
    .img-container
    {
        margin-top: 5%;
        width: 50%;
        text-align: end;
    }

    &:nth-child(odd) {
        .description {
            order: 2; // Inverser l'ordre du texte et de l'image
            text-align: start; // Aligner le texte à gauche
        }
x
        .img-container {
            order: 1; // Garder l'ordre de l'image à droite
            text-align: start; // Aligner l'image à droite
        }
    }

    &:nth-child(even) {
        .description {
            // Garder l'ordre du texte à gauche
        }

        .img-container {
            order: 2; // Inverser l'ordre de l'image à gauche
            text-align: end; // Aligner l'image à gauche
        }
    }
}

p {
    font-size: 1.2em;
}
