@import "blog";
@import "research";

*{
	margin:0;
	font-family: 'Poppins', sans-serif;
	color: #444;
}

nav{
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 0 0 3% 0;
	box-shadow :13px 13px 26px #00000025;
	background-color: #F6F6F6;


}

nav a{
	text-decoration: none;
	text-transform: uppercase;
	font-weight: 600;
	margin: 1% 2%;
}

.current {
	text-decoration: none;
}

h1, h2 {
	font-family: 'Dela Gothic One', sans-serif;
	margin: 5% 0;
}

body{
	display: flex;
	flex-direction: column;
	background-color: #F6F6F6;
}

section{
	display: flex;
	flex-direction: column;
	width: 80%;
	margin: auto;
	justify-content: space-around;
}

.text-content{
	width: 50%;
	display: flex;
	flex-direction: column;
	align-items: start;
	justify-content: space-between;
}

.button-white {
	display: inline-block;
	padding: 2% 5%;
	font-size: 1em;
	background: #F6F6F6;
	border: none;
	border-radius: 15px;
	box-shadow: 3px 3px 6px #00000025, -	5px -5px 10px #ffffff; 
	transition: box-shadow 0.3s;
	cursor: pointer;

	// width: 20%; 
	
	text-transform: uppercase;
	font-weight: 600;

  }
  
  .button-white:hover {
	box-shadow: 0 0 0 transparent; /* Supprime l'ombre au survol */
  }
  

footer {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	padding: 2% 0;

}

footer {
	h3{
		text-transform: uppercase;
		font-weight: 600;
		color:white;
	}
	p {
		color:white;
	
	}
	a{
		text-decoration: none;
		color:white;
	}
	a:hover{
		text-decoration: none;
		color:#444;
	}

	.link-picto{
		// padding: 0 10%;
	}

} 

.footer-part{
	display: flex;
	flex-direction: column;
	align-items: center;
}


.social-networks{
	display: flex;
	flex-direction: row;
	// justify-content:space-between;
	// align-items: center;

}

.picto{
	color:white;
}

.picto:hover{
	color:#444;
}