.post-img-container
{
    position: absolute;
    top : 0;
    left: 0;
    z-index : -1;
    width : 100vw;
    height : 40vh;

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.post-description 
{
    margin-top : 32vh;

    .categories 
    {
        display : flex;
        column-gap: 1%;

        .category
        {
            color : #319B7A;
            font-size: 1.2em;
            font-weight: 600;
            border : 1px solid #319B7A;
            border-radius: 15px;
            padding: 0% 1% 0 1%;
        }
    }

    h2 {
        text-transform : uppercase;
        margin: 3% 0 1% 0;
    }

    .date 
    {
        color :#319B7A;
        text-transform: uppercase;
        margin-bottom: 1%;
    }

    .author 
    {
        font-weight: 600;
        text-transform: uppercase;
        margin-bottom : 3%;
    }

}

