$white: #F6F6F6;

.citation {
	display: flex;
	padding: 2% 5%;
	font-size: 1.2em;
	border: none;
	border-radius: 15px;
	box-shadow: 3px 3px 6px #00000025, -	5px -5px 10px #ffffff; 
	width: 100%;
}

.citation p {
	text-align: center;
	color: $white;
}

.published-paper{
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: start;
	margin: 0 0 3% 0;
	padding: 2% 5%;
	font-size: 1.2em;
	transition: box-shadow 0.3s;
	border: none;
	border-radius: 15px;
	box-shadow: 3px 3px 6px #00000025, -	5px -5px 10px #ffffff;
	cursor: pointer;
	text-decoration: none;
	width: 100%;

	&:hover{
		box-shadow: 0 0 0 transparent;
	}

	p{
		font-size: 0.8em;
		margin: 0 2%;
	}

	.info-published-paper{
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		justify-content: space-between;
		width: 80%;

		.titre{
			text-transform: uppercase;
			font-weight: 600;
			font-size: 0.9em;
			text-align: center;
		}
	
		.journal {
			border-radius: 15px;
		}

	}


  }
  










// .picto{
// 	width: 5%;
// 	font-size:2em;
// 	cursor: pointer;
// 	transition: transform 0.2s ease;
// }

// .picto:hover{
// 	transform: scale(1.2);
// }