---
layout: default
body_class: heatmap3d-shell
main_class: page-content heatmap3d-page-content
extra_css:
  - /assets/css/heatmap3d-landing.css
---

<section class="landing-content landing-content--wide">
  {{ content }}
</section>

<!-- Three.js import map
     Source: https://threejs.org/docs/#manual/en/introduction/Installation
     Using unpkg CDN as recommended in official Three.js documentation -->
<script type="importmap">
  {
    "imports": {
      "three": "https://unpkg.com/three@0.160.0/build/three.module.js",
      "three/addons/": "https://unpkg.com/three@0.160.0/examples/jsm/"
    }
  }
</script>
{% include heatmap3d-model-viewer-static.html %}
