---
layout: default
color : 319b7a
styles:
---

<!-- Container for the post image -->
<div class="post-img-container">
    <!-- Cover image for the post -->
    <img class="img-cover" src="{{ page.image }}" alt="{{ page.title }}">
</div>

<!-- Main content section for the post -->
<section>
    <div class="post-description">
        <!-- Categories associated with the post -->
        <div class="categories"> 
            {% for category in page.categories %}
                <p class="category">{{ category }}</p>
            {% endfor %}
        </div>

        <!-- Title of the post -->
        <h2><i class="fa-solid fa-square" style="color: #319b7a"></i> {{ page.title }}</h2>

        <!-- Date of the post -->
        <div class="date">{{ page.date | date: "%B %d, %Y" }}</div>

        <!-- Author of the post -->
        <div class="author">By {{ page.author }}</div>

        <!-- Content of the post -->
        {{ page.content }}
    </div>
</section>

<!-- Inline styles to set the background color of the footer -->
<style>
    footer {
        background-color: #319b7a;
    }
</style>
