---
layout: default
---

<header class="post-header">
  {%- if page.lang != site.active_lang -%}
    {%- include no-translation.html -%}
  {%- endif -%}
  <h1 class="post-title">{{ page.title | escape }}</h1>
</header>

<div class="post-content">
  <b>{{ content }}</b>
</div>

<ul class="xware-list">
  {% assign title = page.title | downcase %}
  {% for xware in site.data[title] %}
  <li>
    <img class="xware-img" src="{{ xware.image }}" alt="{{ xware.title }}"/>
    <h3>
      <a class="post-link" href="{{ xware.url }}">
        {{ xware.title }}
      </a>
    </h3>
    <span class="post-meta">{{ xware.keywords }}</span>
    <p class="xware-meta">
      {{ xware.description }}
    </p>
  </li>
  {% endfor %}
</ul>